#
# dotfiles
#

alias cfg='/usr/bin/git --git-dir=$HOME/.cfg --work-tree=$HOME'
alias cfga='cfg add'
alias cfgapa='cfg add --patch'
alias cfgc='cfg commit -v'
alias cfgd='cfg diff'
alias cfgdca='cfg diff --cached'
alias cfglgg='cfg log --graph'
alias cfgst='cfg status'

